@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-image: url(../img/fondo-playa.jpg);
    overflow-x: hidden;
    overflow-y: scroll;
}

h2{
    color: #000000;
    font-size: 2.5vw;
}

h3{
    color: #000000;
    font-size: 1.5vw;
    text-decoration: underline;
}

p{
    color: #ffffff;
}

a, li{
    font-family: 'Roboto', sans-serif;
    color: white;    
}


/*HEADER*/
.logo-header img{
    width: 55px;
    border-radius: 60px;
}

header{
    background-color:#2a2a2a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    position:relative;
    width: 100%;
    
}

.nav-menu ul{
    display: flex;
    align-items: center;
    z-index: 1000;
}

.nav-menu li{
    margin-right: 3rem;
}

.nav-menu a:hover{
    color: #00ff55;
}

.nav-menu li:last-child{
    background-color: #0045FF;
    border: 4.5px solid #0045FF;
    padding: .25rem , 75rem;
    border-radius: .2rem;

}

.nav-menu li:last-child:hover{
    background: blue;
    border: 4.5px solid blue;
}


.menu-icon img{
    width: 30px;
    height: 30px;

}

.menu-icon, #check{
    display: none;
}


/*BANNER*/
#banner{
    background-image: url(../img/banner-la-costa.jpg);
    background-size: cover;
    background-position: center;
    height: 65vh;
    
}


/*HOTELERIA GRID*/
.hotel-item-img{
    width: 90%;
    height: auto;
    margin: 20px;
    
}

.hotel-grid{
    margin: 30px;
    background:linear-gradient(rgb(134, 134, 134) 2%, rgba(75, 75, 75, 0.438));
    border-radius: 20px;
    height: 2000px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    column-gap: 20px;
    row-gap: 10px;
    place-content: center;
    place-items: center;   
}

.hotel-item-detail{
    margin: 10px;
}

.detail{
    border-bottom: 3px solid #ffffff;
}

.hotel-grid a:hover{
    color: #00ff55;
}


/*HISTORIA*/
#histo-id{
    background:linear-gradient(rgb(134, 134, 134) 2%, rgba(75, 75, 75, 0.438));
    margin: 30px;
    border-radius: 20px;
    
}

#histo-p{
    color: white;
    font-size:x-large;
    padding: 2rem;
    text-align: center;
}


/*FORMULARIO DE CONTACTO*/
form{
    background:linear-gradient(rgb(134, 134, 134) 2%, rgba(75, 75, 75, 0.438));
    margin: 30px;
    padding: 55px 250px;
    border-radius: 20px;
    text-align: center;
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

label{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 3px solid #808080;
    color: black;
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: rgb(124, 124, 124)
}

.form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a{
    color: blue;
    
}

.form-txt a:hover{
    color: #00ff55;
}

.form-btn{
    font-size: 16px;
    color: white;
    border: 0;
    border-radius: 25px;
    background-color: #0011ff;
    cursor: pointer;
    border: 3px solid rgb(131, 131, 131);
}

.form-btn:hover{
    background-color: #00ff55;
    border: 3px solid #00ff55;
}

.form-h2{
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.txt-label{
    color: rgb(255, 255, 255);
    font-size: 1.5vw ;
    background:linear-gradient(90deg, rgb(0, 0, 0) 1%, rgba(255, 0, 0, 0));
    border-radius: 10px;
}

.error{
    color: red;
    border-color:red;
}

.error2{
    border-color: red;
}

  
/*FOOTER*/
#footer {
    align-items: center;
    background-color:#2a2a2a;
    display: flex;
    height: 100px;
    width: 100%;
    gap: 20px;
    justify-content: center;
}

#footer a{
    text-decoration: none;
    color: #FFF;
    position: static;
    margin-right: 1rem;
    
}

.tooltip-span{
    display: none;
    position:fixed;
    background-color: #2a2a2a;
    border: 1px solid white;
    line-height: 20px;
    z-index: 500;
    text-align: center;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    left: 50;
    right: 50;
    bottom: 30px;
}

.tooltip:hover .tooltip-span{
    display: inline-block;
}

/*LOCALIDADES*/

/*MEDIA QUERYS*/
@media (min-width: 40em) {
        .grid-container-locaciones{
            display: grid;
            grid-gap: 1em;
            padding: 1em;
            margin: 1em;
            border-radius: 20px;
        }

        .columna1-informacion{
            padding: 1em;
            margin: 1em;
            background:linear-gradient(rgb(134, 134, 134) 2%, rgba(75, 75, 75, 0.438));
            border-radius: 20px;
        }

        .columna1-informacion h2{
            font-size: 2.5vw;
            
        }
        .columna1-informacion p{
            font-size: 2vw;
            font-weight: 500;
        }

        .columna1-informacion iframe{   
            border-radius: 20px;
            width: 50vw;
            height: 50vh;
            border: 0;
            margin: 0 auto;
        }
        
}



/*MEDIA QUERIS*/
@media screen and (min-width:768px) and (max-width:1023px) {
    h2 {
        font-size: 2.5vw;
    }

    h3 {
        font-size: 2vw;
    }

    .hotel-grid { 
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        height: 1500px;
    }

    .hotel-item-detail{
        margin: 20px;
    }

    form{
        margin: 30px;
        padding: 55px 120px;
    }
}

@media screen and (max-width:767px) {
    h2 {
        font-size: 3vw;
    }

    h3 {
        font-size: 2.5vw;
    }

    .hotel-grid {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(8,1fr);
        height: 2500px;
        padding: 20px;
        grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px;
        justify-content:flex-end;
    }

    .hotel-item-img{
        width: 80%;
        height: auto;
        margin: 2px;
    }

    #footer {
        flex-direction: row;
        justify-content: center;
    }

    .checkbtn{
        display: block;
    }

    .menu-icon{
        display:block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .nav-menu ul{
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        background: #2a2a2a;
        opacity: 1;
        width: 100%;
        height: 100vh;
        right: 0;
    }

    .nav-menu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .nav-menu ul li:last-child{
        background: none;
        padding: 1rem;
    }

    #check:checked ~ ul{
        left: 0;
    }

    .deco-p{
        display: none;
    }

    form{
        margin: 30px;
        padding: 55px 50px;
    }

    .txt-label{
        font-size: 3vw;
    }

    .form-h2{
        font-size: 4vw;
    }
    
}