/*CARRUSEL*/
#conte-item-carrusel{
    height: 550px;
    overflow:hidden;
}

.item-carrusel{
    height: 100%;
    position: relative;
}

.tarjeta-carrusel{
    height: 100%;
}

.flecha-carrusel{
    background-color: rgb(196, 46, 46,);
    position: absolute;
    top: 0;
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;   
}

#conte-puntos{
    background-color: rgb(90, 88, 88);
    display: flex;
    justify-content:center;
}

#conte-puntos a{
    font-size: 1.5rem;
}

img{
    width: 100%;
    height: 100%;
}

.punto-carru{
    padding-left: .5rem;
}

.conte-pts a:hover{
    color: #00ff55;
}



@media screen and (min-width:768px) and (max-width:1023px){
    img{
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

@media screen and (max-width:767px){
    img{
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}